body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 80px;
    text-align: center;



}

















.donate-help {
    padding-top: 100px;
    text-align: center;
    color: white;




}

.donate-help p {
    font-size: 40px;
    color: white;
}

.donate-help a {
    margin-top: 0;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

.donate-area {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%
}

.donate-amount {
    text-align: center;
    font-size: 40px;

}

li {
    display: inline;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 5px 5px 10px gray;
}





















}